@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brown: #d19463;
  --brown-text: #6d5694;
  --brown-light: #f8c889;
  --brown-heavy: #9f7b5d;
  --pink: #ff978d;
  --pink-light: #ffbcbc;
}

.Image-component {
  /* height: 100%; */
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea,
input:focus {
  outline: none;
}

/* 數字 defualt arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* 不顯示捲軸 */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.back-drop {
  @apply fixed left-0 top-0 w-full h-full z-30;
  background-color: rgba(0, 0, 0, 0.7);
}

/* 彈窗 */
/* modal 下方上彈的modal */
.modal-bottom {
  @apply fixed bottom-0 left-1/2 translate-x-[-50%] w-full max-w-[420px] max-h-[500px] rounded-t-xl border-t-[1px];

  /* background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0.8) 35%,
    transparent
  ); */
  box-shadow: 0px -2px 10px -3px #000;
  font-size: 0.8rem;
  color: #fff;
  z-index: 999;
  transition-duration: 200ms;
}

.modal {
  @apply fixed top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] z-[999] rounded-lg bg-white min-w-[335px] min-h-[515px] h-[80%];
}

.modal-shrink {
  @apply fixed top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] z-[999] rounded-lg bg-white min-w-[335px];
}

.pop-payment {
  @apply fixed left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%] w-4/5 max-w-[500px] max-h-[70vh] z-50;
}

.modal-title {
  @apply w-full mt-6 pb-2.5 text-center text-[#6d5694] text-lg tracking-wider border-b-[1px] border-solid border-[#ba9bf066];
}

.modal-cross {
  @apply absolute cursor-pointer right-4 top-4;
}

/* translate-x/y-[1px] 是bordor的寬度 */
.pop-payment-active-decoration::before {
  @apply absolute bg-[#f98d83] bottom-0 right-0 translate-x-[1px] translate-y-[1px] w-4 h-4 block rounded;
  clip-path: polygon(100% 25%, 0% 100%, 100% 100%);
  content: "";
}

/* 聊天室 */
.chat-message-tail {
  @apply absolute right-[-16px] block w-0 h-0;
  border: 8px solid transparent;
  border-left-color: #d19463;
  transform: scaleY(0.5);
}

.chat-message-tail--server {
  @apply absolute left-[-16px] block w-0 h-0;
  border: 8px solid transparent;
  border-right-color: #c1b7ab;
  transform: scaleY(0.5);
}

.chat-text {
  @apply p-[10px] text-white text-sm font-light bg-[#d19463];
}

.chat-text-server {
  @apply p-[10px] text-white text-sm font-light bg-[#c1b7ab];
}

.chat-input-shadow {
  @apply absolute top-0 translate-y-[-100%] w-full h-[6px] opacity-20;
  background-image: linear-gradient(to bottom, rgba(158, 118, 84, 0), #3a2b1e);
}

/* 聊天室 輸入框 輸入中 */
.userTypingDot {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0.4rem 0;
  border-radius: 50%;
  margin-right: 5px;
  background: white;
  animation: wave 1.3s linear infinite;
}

.userTypingDot:nth-child(2) {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0.4rem 0;
  border-radius: 50%;
  margin-right: 5px;
  background: white;
  animation: wave 1.3s linear infinite;
  animation-delay: -0.9s;
}

.userTypingDot:nth-child(3) {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0.4rem 0;
  border-radius: 50%;
  margin-right: 5px;
  background: white;
  animation: wave 1.3s linear infinite;
  animation-delay: -0.6s;
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }

  30% {
    transform: translateY(-3px);
  }
}

/* Search Page */
/* 搜尋列 */
.search-bar {
  @apply z-[9] py-[.3rem] px-2 bg-no-repeat z-10;
  box-shadow: 0 2px 5px #999;
  background-image: url(../img/watercolor-o.84ec2591.png);
  background-size: 100%;
  background-position: 50%;
}

/* sign form */
.sign-form {
  @apply p-6 pt-4 bg-no-repeat grow;
  background-position-y: 100%;
  background-image: url();
}

/* form-input */
.sign-form-input {
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

/* Return Bar */
.return-bar {
  @apply flex items-center justify-between h-[60px] min-h-[60px];
}

.return-bar-shadow {
  @apply shadow-md;
}

/* Selection Bar */
.record-tab-active {
  @apply text-[#4c4c4c] bg-no-repeat grayscale-0;
  background-image: url(../img/watercolor.png);
  background-size: 100%;
  background-position: 50%;
}

.record-tab-inactive {
  @apply grayscale;
}

/* 客服轉跳頁面 */
.customer-button {
  @apply flex my-8 mx-12 py-4 px-8 text-center text-[1.5rem] grow;
}

.customer-section-title {
  @apply text-base m-8 tracking-[.2rem] leading-[2rem] font-normal;
}

/* 尋回帳戶 */
.recovery-text {
  @apply pb-2 tracking-widest font-light;
}

/* 充值頁面 */
.charge-input-container {
  @apply w-full py-2.5 px-5 bg-white rounded-lg border-solid border-[1px] border-[#6d5694] text-[#6d5694] text-sm;
}

.charge-item {
  @apply relative p-2 min-h-[90px] w-[47%] mb-[.8rem];
  border-radius: 0.8rem;
  box-shadow: 0 0.15rem 0.4rem 0 #a8a8a8;
  flex-shrink: 0;
  box-sizing: border-box;
}

.charge-discount-container {
  @apply absolute top-0 right-1;
}

.charge-discount-text {
  @apply absolute top-[2px] left-1/2 translate-x-[-50%] text-xs  text-white flex flex-col justify-center items-center;
}

.user-icon-shadow {
  box-shadow: 0px 26px 15px -10px rgba(159, 123, 93, 0.2);
}

/* 熱銷標籤 */
.charge-hot {
  @apply text-white ml-2;
  padding: 0 4px;
  background-color: #ff978d;
  font-size: 12px;
  border-radius: 0.3rem;
  word-break: keep-all;
}

.charge-recommend {
  @apply absolute top-[9px] right-[-10px] py-0 px-2 pb-[.1rem] text-white bg-[#ff7264] rotate-[45deg] text-[12px];
}

.charge-vip-hint {
  @apply mb-8 text-[.6rem] text-center text-[#ff685a] font-bold tracking-[1px];
}

.charge-attention-title {
  @apply pb-2 border-b-[1px] text-center text-lg border-[#ba9bf066];
}

/* 我的 */
.user-card {
  @apply rounded-2xl bg-no-repeat bg-white mt-2 p-[.7rem];
  background-image: "";
  background-size: 80%;
  background-position: 100% 10px;
}

.user-card-info > div {
  border-bottom: 1px solid #f1f1f1;
  padding: 0.5rem 0;
}

.user-card-info {
  @apply grow text-[#4c4c4c];
}

/* 章節目錄 */
.chapter-title {
  @apply text-lg text-[#6d5694] border-b-2 pb-2;
  border-color: rgba(158, 118, 84, 0.4);
}

.chapter-item-backdrop {
  @apply absolute w-full h-full;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #000);
}

.book-oneline {
  @apply line-clamp-1 text-ellipsis;
}

.book-description {
  @apply line-clamp-4 text-ellipsis mt-2 leading-4 text-xs text-[#999999];
}

/* 漫畫閱讀頁 */

/* 分類列表 */
.category_list_box {
  @apply overflow-hidden px-2 py-1 pb-2;
}

.category-item {
  @apply text-gray-500 w-fit text-sm whitespace-nowrap p-0.5 px-1 rounded;
}

.category-item:hover:not(.active) {
  @apply bg-[#f1f1f1];
}

.category-item.active {
  @apply !px-1 !text-gray-700 font-bold;
}

.category-item-derocation {
  @apply w-full h-1 bg-[#6d5694] rounded;
}

/* recovery頁面 */
.recovery-phase-circle {
  @apply flex items-center justify-center w-10 h-10 border-[.2rem] border-solid border-[#6d5694] rounded-full text-[#6d5694] font-semibold;
}

.recovery-phase-dash {
  @apply grow h-[.2rem] bg-[#6d5694];
}

/* 首頁區塊 */

.item-header-bg {
  @apply rounded;
  background: linear-gradient(to right, #c7b5e6 -89%, #ffffff80);
}

.item {
  /* remove shadow-md */
  @apply rounded-lg border border-gray-200 relative;
}

.item-separate {
  @apply h-full;
}

.item img {
  @apply w-full h-full;
}

.item-separate img {
  @apply w-full h-full;
}

.tag {
  @apply absolute z-30 left-[-5px] w-[36px] h-[21px] whitespace-nowrap text-[12px] font-light leading-[21px] text-white pl-[7px] pr-[5px] rounded-r rounded-l-sm;
}

.tag-decoration {
  @apply absolute z-10 w-3 h-3 rotate-[30deg] left-[-5px] origin-bottom-left;
}

.item-overlay {
  @apply bg-gradient-to-b from-[rgba(89,89,89,0)] to-black rounded-b-lg absolute bottom-0 left-0 w-full h-28;
}

.item-overlay-chapter {
  @apply bg-gradient-to-b from-[rgba(89,89,89,0)] to-black rounded-b-lg absolute bottom-0 left-0 w-full h-[28px];
}

.item .title {
  @apply absolute bottom-7 px-2.5 text-ellipsis whitespace-nowrap text-white block w-full overflow-hidden;
}

.item-separate .title-separate {
  @apply px-1 text-ellipsis whitespace-nowrap text-[#666666] block w-full overflow-hidden;
}

.item .rating {
  @apply text-xs text-white absolute bottom-2.5 px-2.5;
}

.item-separate .rating-separate {
  @apply text-xs whitespace-nowrap text-gray-400 px-1;
}

.item:hover .item-overlay {
  /* @apply to-gray-700; */
  background-image: linear-gradient(to bottom, rgba(89, 89, 89, 0), #000);
}

.pending {
  @apply before:content-[''] before:absolute before:z-[12] before:top-0 before:left-0 before:w-full before:h-full before:bg-[#ffeeec]
  before:rounded before:shadow-none before:border-none;
}

.pending img,
.pending .item-overlay,
.pending .title,
.pending .rating {
  visibility: hidden;
}

.workaround-no-gradient .item .item-overlay {
  background: #fff;
  z-index: 1;
  height: 2rem;
}

.workaround-no-gradient .item .title {
  font-size: 0.7rem;
  color: #666;
  @apply bottom-3;
}

.workaround-no-gradient .item .rating {
  @apply bottom-0.5;
}

.payment-shadow {
  @apply absolute bottom-0 w-full h-[6px] opacity-10;
  background-image: linear-gradient(to bottom, rgba(158, 118, 84, 0), #3a2b1e);
}

/* 下方功能列 */

footer::before {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  content: "";
  width: 100%;
  height: 6px;
  opacity: 0.2;
  background-image: linear-gradient(to bottom, rgba(158, 118, 84, 0), #3a2b1e);
}

footer svg {
  @apply h-6 block mx-auto grayscale opacity-50;
}

footer .group:hover svg {
  @apply opacity-100 grayscale-0;
}

footer .active svg {
  @apply grayscale-0 opacity-100;
}

footer span {
  @apply text-gray-400 text-sm;
}

footer .group:hover span {
  @apply text-[#f98d83];
}

footer .active span {
  @apply text-[#f98d83];
}

.test-duration {
  transition: all 0.3s ease-in-out;
}

/* Reading page range input bar */
.input-range-page {
  @apply h-[.15rem] appearance-none bg-white bg-no-repeat;
  background-image: linear-gradient(#6d5694, #6d5694);
  background-size: 0% 100%;
}

.input-range-page::-ms-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}

.input-range-page::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}

.input-range-page::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}

/* input error handle */
.error-shaking {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards;
  /* animation: shake 5s cubic-bezier(0.38, 0.82, 0.63, 0.22); */
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.modal-bottom-animation {
  animation: pop-up 0.5s forwards;
  transform: translateY(0%);
}

@keyframes pop-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: tranlsateY(0%);
  }
}
