<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png" />
    <link
      rel="icon"
      href="/aseets/img/favicon.svg"
      type="image/png"
      sizes="64x64"
    />
    <link rel="stylesheet" href="/assets/css/nsmh.css" />
    <% preact.headEnd %>
  </head>

  <body class="bg-gray-200 flex justify-center overflow-hidden h-full pb-safe">
    <% preact.bodyEnd %>
  </body>
</html>
